# Ignore everything
*

# Allow folders to be traversed
!*/

# Keep these folders
!backend/src/FinalVersion/
!backend/src/FinalVersion/**
!backend/src/version1TerminalChat/
!backend/src/version1TerminalChat/**

!documentation/
!documentation/**
!specification/
!specification/**

# Keep gitignore itself
!.gitignore